<%= form_for(@kalibro_configuration, :html => { role: 'form' }) do |f|  %>
  <%= render :partial => 'shared/form_errors', :locals => {:object => @kalibro_configuration} %>

<div class="row margin-left-none">
  <div class="form-table col-md-9">

    <div class="form-row">
      <div class="field-container">
        <%= f.label :name, class: 'control-label' %><br>
        <%= f.text_field :name, :required => true, class: 'text-field form-control' %>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :description, class: 'control-label' %><br>
        <%= f.text_area :description, class: 'text-area form-control' %>
      </div>
    </div>
  </div>
</div>

<div class="row margin-left-none" style="margin-top: 20px">
  <%= f.submit t('save'), class: 'btn btn-primary' %>
  <%= link_to t('back'), kalibro_configurations_path, class: 'btn btn-default' %>
</div>

<% end %>
