<tr>
  <td><%= metric_configuration.metric.name %></td>
  <td><%= metric_configuration.metric.code %></td>
  <% unless hotspot_metric_configuration?(metric_configuration) %>
    <td><%= metric_configuration.weight %></td>
    <td>
      <%= link_to_show_page(metric_configuration, @kalibro_configuration.id) %>
    </td>
    <% if kalibro_configuration_owner? @kalibro_configuration.id %>
      <td>
        <%= link_to_edit_form(metric_configuration, @kalibro_configuration.id) %>
      </td>
    <% end %>
  <% end %>
  <% if kalibro_configuration_owner? @kalibro_configuration.id %>
    <td>
      <%= link_to t_action(:destroy, MetricConfiguration), kalibro_configuration_metric_configuration_path(@kalibro_configuration.id, metric_configuration.id),
                  method: :delete, data: {confirm: t('want_destroy_metric_configuration')},
                  class: 'btn btn-danger' %>
    </td>
  <% end %>
</tr>
