<%= form_for(@mezuro_configuration, :html => { role: 'form' }) do |f|  %>
  <%= render :partial => 'shared/form_errors', :locals => {:object => @mezuro_configuration} %>

<div class="row margin-left-none">
  <div class="form-table span9">

    <div class="form-row">
      <div class="field-container">
        <%= f.label :name, class: 'control-label' %><br>
        <%= f.text_field :name, class: 'text-field' %>
      </div>
      <div class="help-container">
        <p>
          Your configuration name!
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :description, class: 'control-label' %><br>
        <%= f.text_area :description, class: 'text-area' %>
      </div>
      <div class="help-container">
        <p>
          Your configuration description!
        </p>
      </div>
    </div>

  </div>
</div>

<div class="row margin-left-none" style="margin-top: 20px">
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Back', mezuro_configurations_path, class: 'btn btn-default' %>
</div>

<% end %>
