<%= form_for(@mezuro_configuration, :html => { role: 'form' }) do |f|  %>
  <%= render :partial => 'shared/form_errors', :locals => {:object => @mezuro_configuration} %>

<div class="row margin-left-none">
  <div class="form-table col-md-9">

    <div class="field-container" data-toggle="tooltip" data-placement="left" title="Input configuration name">
      <div >
        <%= f.label :name, class: 'control-label' %><br>
        <%= f.text_field :name, :required => true, class: 'text-field form-control' %>
      </div>
    </div>

    <div>
      <div class="field-container" data-toggle="tooltip" data-placement="left" title="Input configuration description">
        <%= f.label :description, class: 'control-label' %><br>
        <%= f.text_area :description, class: 'text-area form-control' %>
      </div>
    </div>

  </div>
</div>

<div class="row margin-left-none" style="margin-top: 20px">
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Back', mezuro_configurations_path, class: 'btn btn-default' %>
</div>

<% end %>
