<%= render :partial => 'shared/form_errors', :locals => {:object => @compound_metric_configuration} %>
<div class="row margin-left-none">
  <div class="form-table col-md-9">

    <%= f.fields_for :metric do |metric| %>
    <%= render partial: "metric_options", :locals => {:f => metric, :metric => @compound_metric_configuration.metric} %>
    <% end %>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :weight, t('weight'), class: 'control-label' %>
        <%= f.text_field :weight, :required => true, class: 'text-field form-control' %>
      </div>
      <div class="help-container">
        <p>
          <%= t('calculate_weighted_average_html', :href => link_to(t('module'), tutorials_path("keywords", anchor: "module"))) %>
        </p>
      </div>
    </div>

    <% if @compound_metric_configuration.persisted? %>
      <%= hidden_field_tag(:reading_group_id, @compound_metric_configuration.reading_group_id) %>
      <%= hidden_field_tag(:kalibro_configuration_id, @compound_metric_configuration.kalibro_configuration_id) %>
      <%= link_to t('back'), kalibro_configuration_path(@compound_metric_configuration.kalibro_configuration_id), class: 'btn btn-default' %>
    <% else %>
      <div class="form-row">
        <div class="field-container">
          <%= f.label :reading_group_id, t('reading_group'), class: 'control-label' %>
          <%= f.select( :reading_group_id, reading_group_options, {class: 'form-control'} ) %>
        </div>
        <div class="help-container">
          <p>
            <%= t('associated_metric_configuration_form_html', :href => link_to(t('reading_group'), tutorials_path('keywords', anchor: 'reading_group'))) %>
          </p>
        </div>
      </div>
      <%= f.hidden_field(:kalibro_configuration_id, value: @kalibro_configuration_id) %>
      <%= link_to t('back'), kalibro_configuration_path(@kalibro_configuration_id), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<br>
<%= f.submit t('save'), class: 'btn btn-primary' %>
