    <div class="form-row">
      <div class="field-container">
        <%= f.label :name, compound_metric_human_attribute_name('name'), class: 'control-label' %>
        <%= f.text_field :name, :required => true, class: 'text-field form-control', value: (metric.name unless metric.nil?) %>
      </div>
      <div class="help-container">
        <p>
          <%= t_hint(:name) %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :description, compound_metric_human_attribute_name('description'), class: 'control-label' %>
        <%= f.text_field :description, class: 'text-field form-control', value: (metric.description unless metric.nil?)  %>
      </div>
      <div class="help-container">
        <p>
          <%= t_hint(:description) %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :script, compound_metric_human_attribute_name('script'), class: 'control-label' %>
        <%= f.text_area :script, :required => true, class: 'text-area form-control', value: (metric.script unless metric.nil?)  %>
      </div>
      <div class="help-container">
        <p>
          <%= t_hint(:script) %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.fields_for :scope do |scope_form| %>
          <%= scope_form.label :type, compound_metric_human_attribute_name('scope'), class: 'control-label' %>
          <%= scope_form.select( :type, scope_options, {class: 'form-control', selected: (metric.scope.type unless metric.nil?)} ) %>
        <% end %>
      </div>
      <div class="help-container">
        <p>
          <%= t_hint(:scope) %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :code, compound_metric_human_attribute_name('code'), class: 'control-label' %>
        <%= f.text_field :code, :required => true, class: 'text-field form-control', value: (metric.code unless metric.nil?) %>
      </div>
      <div class="help-container">
        <p>
          <%= t_hint('code.description') %>
        </p>
          <br>
          <p>
          <%= t_hint('code.example') %>
          </p>
      </div>
    </div>
<%= f.hidden_field(:compound, { value: "true"}) %>
