<div class="page-header">
  <h1><%=@compound_metric_configuration.metric.name %></h1>
</div>

<p>
  <strong>Description:</strong>
  <% if @compound_metric_configuration.metric.description.nil? %>
    <%= "There is no description available." %>
  <% else %>
    <%= @compound_metric_configuration.metric.description %> 
  <% end %>
</p>

<p>
  <strong>Script:</strong>
  <%= @compound_metric_configuration.metric.script %>
</p>

<p>
  <strong>Scope:</strong>
  <%= @compound_metric_configuration.metric.scope %>
</p>

<p>
  <strong>Code:</strong>
  <%= @compound_metric_configuration.code %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @compound_metric_configuration.weight %>
</p>

<p>
  <strong>Aggregation Form:</strong>
  <%= @compound_metric_configuration.aggregation_form %>
</p>

<p>
  <strong>Reading Group Name:</strong>
  <%= @reading_group.name %>
</p>

<hr>

<h2> Ranges </h2>
<% if mezuro_configuration_owner? @compound_metric_configuration.configuration_id %>
  <%= link_to 'Add Range', mezuro_configuration_metric_configuration_new_mezuro_range_path(@compound_metric_configuration.configuration_id, 
      @compound_metric_configuration.id), class: 'btn btn-info' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Beginning</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <% if @mezuro_ranges.empty? %>
      <%= render partial: 'metric_configurations/no_ranges' %>
    <% else %>
      <%= render partial: 'metric_configurations/ranges', collection: @mezuro_ranges, as: :mezuro_range %>
    <% end %>
  </tbody>
</table>

<hr>

<p>
 <%= link_to 'Back', mezuro_configuration_path(@compound_metric_configuration.configuration_id), class: 'btn btn-default' %>
<% if mezuro_configuration_owner? @compound_metric_configuration.configuration_id %>
      <%= link_to 'Destroy Metric Configuration', mezuro_configuration_metric_configuration_path(@compound_metric_configuration.configuration_id,
      @compound_metric_configuration.id), method: :delete, data: { confirm: 'Are you sure that you want to destroy this metric configuration?' }, 
      class: 'btn btn-danger' %>
 <% end %>
</p>


