<div class="page-header">
  <h1><%=@compound_metric_configuration.metric.name %></h1>
</div>

<p>
  <strong> <%= t('description') %>:</strong>
  <% if @compound_metric_configuration.metric.description.nil? %>
    <%= t('no_description') %>
  <% else %>
    <%= @compound_metric_configuration.metric.description %>
  <% end %>
</p>

<p>
  <strong> <%= t('script') %>:</strong>
  <%= @compound_metric_configuration.metric.script %>
</p>

<p>
  <strong> <%= t('scope') %>:</strong>
  <%= @compound_metric_configuration.metric.scope %>
</p>

<p>
  <strong> <%= t('code') %>:</strong>
  <%= @compound_metric_configuration.metric.code %>
</p>

<p>
  <strong> <%= t('weight') %>:</strong>
  <%= @compound_metric_configuration.weight %>
</p>

<p>
  <strong> <%= t('metric_configurations_aggregation') %>:</strong>
  <%= @compound_metric_configuration.aggregation_form %>
</p>

<p>
  <strong> <%= t('metric_configurations_reading_group') %>:</strong>
  <%= @reading_group.name %>
</p>

<hr>

<h2>  <%= t('ranges') %> </h2>
<% if kalibro_configuration_owner? @compound_metric_configuration.kalibro_configuration_id %>
  <%= link_to t('add_range'), kalibro_configuration_metric_configuration_new_kalibro_range_path(@compound_metric_configuration.kalibro_configuration_id,
      @compound_metric_configuration.id), class: 'btn btn-info' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th> <%= t('label') %> </th>
      <th> <%= t('beginning') %> </th>
      <th> <%= t('end') %> </th>
    </tr>
  </thead>
  <tbody>
    <% if @kalibro_ranges.empty? %>
      <%= render partial: 'metric_configurations/no_ranges' %>
    <% else %>
      <%= render partial: 'metric_configurations/ranges', collection: @kalibro_ranges, as: :kalibro_range %>
    <% end %>
  </tbody>
</table>

<hr>

<p>
 <%= link_to t('back'), kalibro_configuration_path(@compound_metric_configuration.kalibro_configuration_id), class: 'btn btn-default' %>
<% if kalibro_configuration_owner? @compound_metric_configuration.kalibro_configuration_id %>
      <%= link_to t('destroy_metric_configuration'), kalibro_configuration_metric_configuration_path(@compound_metric_configuration.kalibro_configuration_id,
      @compound_metric_configuration.id), method: :delete, data: { confirm: t('sure_destroy_metric_configuration') },
      class: 'btn btn-danger' %>
 <% end %>
</p>


