<%= render :partial => 'shared/form_errors', :locals => {:object => @repository} %>


<div class="row margin-left-none">
  <div class="form-table col-md-9">

    <div class="form-row">
      <div class="field-container">
        <%= f.label :name, class: 'control-label' %>
        <%= f.text_field :name, :required => true, class: 'text-field form-control' %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.name') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :description, class: 'control-label' %>
        <%= f.text_area :description, class: 'text-area form-control' %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.description') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :license, class: 'control-label' %>
        <%= f.select( :license, license_options, class: 'text-area form-control' ) %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.license') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :scm_type, class: 'control-label' %>
        <%= f.select( :scm_type, @repository_types, class: 'tooltip-control' ) %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.scm_type') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :address, class: 'control-label' %>
        <%= f.text_field :address, :required => true, class: 'text-field form-control' %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.address') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :period, class: 'control-label' %>
        <%= f.select( :period, periodicity_options, class: 'tooltip-control' ) %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.period') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :kalibro_configuration_id, KalibroConfiguration.model_name.human, class: 'control-label' %>
        <% configuration_list = KalibroClient::Entities::Configurations::KalibroConfiguration.all.map { |conf| [conf.name, conf.id] } %>
        <%= f.select( :kalibro_configuration_id, configuration_list, class: 'tooltip-control' ) %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.kalibro_configuration', configuration_href: link_to(KalibroConfiguration.model_name.human, tutorials_path('keywords', anchor: 'configuration'))).html_safe %>
        </p>
      </div>
    </div>

  </div>
</div>
<div class="row margin-left-none" style="margin-top: 20px">
  <%= f.submit t('save'), class: 'btn btn-primary' %>
  <%= link_to t('back'),  project_path(@project_id), class: 'btn btn-default' %>
</div>
