<%= form_for(@repository, :url => project_repositories_url(@project.id)) do |f| %>

 <%= render :partial => 'shared/form_errors', :locals => {:object => @repository} %>

  <% if @repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
      <% @repository.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.select( :type, @repository_types ) %>
  </div>

  <div class="field">
    <%= f.label :addres %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <% configuration_list = KalibroEntities::Entities::Configuration.all.map { |conf| [conf.name, conf.id] } %>
    <%= f.select( :configuration_id, configuration_list ) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
