<%= render :partial => 'shared/form_errors', :locals => {:object => @repository} %>


<div class="row margin-left-none">
  <div class="form-table col-md-9">

    <div class="form-row">
      <div class="field-container">
        <%= f.label :name, class: 'control-label' %>
        <%= f.text_field :name, :required => true, class: 'text-field form-control' %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.name') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :description, class: 'control-label' %>
        <%= f.text_area :description, class: 'text-area form-control' %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.description') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :license, class: 'control-label' %>
        <%= f.select( :license, license_options, class: 'text-area form-control' ) %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.license') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :scm_type, class: 'control-label' %>
        <%= f.select( :scm_type, @repository_types, {}, class: 'tooltip-control', onchange: "Repository.Branch.toggle();" ) %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.scm_type') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :address, class: 'control-label' %>
        <%= f.text_field :address, :required => true, class: 'text-field form-control', onchange: "fetch_branches(this);" %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.address') %>
        </p>
      </div>
    </div>

    <div id="branches">
      <div class="form-row">
        <div class="field-container">
          <%= f.label :branch, class: 'control-label' %>
          <%= f.select :branch, []%>
        </div>
        <div class="help-container">
          <p>
            <%= t('activemodel.hints.repository.address') %>
          </p>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :period, class: 'control-label' %>
        <%= f.select( :period, periodicity_options, class: 'tooltip-control' ) %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.period') %>
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :kalibro_configuration_id, KalibroConfiguration.model_name.human, class: 'control-label' %>
        <%= f.select( :kalibro_configuration_id, @configurations, class: 'tooltip-control' ) %>
      </div>
      <div class="help-container">
        <p>
          <%= t('activemodel.hints.repository.kalibro_configuration', configuration_href: link_to(KalibroConfiguration.model_name.human, tutorials_path('keywords', anchor: 'configuration'))).html_safe %>
        </p>
      </div>
    </div>

  </div>
</div>
<div class="row margin-left-none" style="margin-top: 20px">
  <%= f.submit t('save'), class: 'btn btn-primary' %>
  <%= link_to t('back'),  project_path(@project_id), class: 'btn btn-default' %>
</div>


<script>
  function show_branches () {
    var scm_type_field = document.getElementById("repository_scm_type");
    var index = scm_type_field.selectedIndex;
    var option = scm_type_field.options[index];

    if(option.value != "SVN" ) {
      $("#branches").show();
      fetch_branches (document.getElementById("repository_address"));
    }
    else
      $("#branches").hide();
  }
</script>

<script>
  $(document).on('page:load ready', function() {
    Repository.Branch.toggle();
  });
</script>

<script>
  var branches = {};
  var request = null;
  function fetch_branches (address_field) {
    cancel_previous_request();
    var address = address_field.value;

    var el = $("#repository_branch");
    el.empty(); // remove old options

    console.log(address);
    if(branches[address] != null) {
      fill_options(branches[address], el);
      return;
    }

    var scm_type = $("#repository_scm_type option:selected").text();

    request = ($.ajax({
      url: "<%= repository_branches_path() %>",
      data: {'url': address, 'scm_type': scm_type},
      type: 'GET',
      timeout: 30000,
      success: function (data){
        options = data["branches"];
        if (options != null) {
          branches[address] = options;
          fill_options(options, el);
        }
       }
    }));

    function cancel_previous_request() {
      if (request != null) {
        request.abort();
        request = null;
      }
    }
  }

  function fill_options (options, el) {
    $.each(options, function(index, value) {
      el.append($("<option></option>")
          .attr("value", value).text(value));
    });
  }
</script>
