<div class="page-header">
  <h1><%= @repository.name %></h1>
</div>

<p>
  <strong>Description:</strong>
  <%= @repository.description %>
</p>

<p>
  <strong>License:</strong>
  <%= @repository.license %>
</p>

<p>
  <strong>Type:</strong>
  <%= @repository.type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @repository.address %>
</p>

<p>
  <strong>Periodicity:</strong>
  <%= periodicity_option(@repository.process_period) %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @configuration.name %>
</p>

<hr/>

<div id="repository-accordion">
  <h3>Processing information</h3>
  <div id="processing_information"><%= image_tag 'loader.gif' %> Loading data. Please, wait.</div>

  <h3>Modules Tree</h3>
  <div id="module_tree"><%= image_tag 'loader.gif' %> Loading data. Please, wait.</div>

  <h3>Metric Results</h3>
  <div id="metric_results"><%= image_tag 'loader.gif' %> Loading data. Please, wait.</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
      (new Module.Repository(<%= @repository.project_id %>, <%= @repository.id %>)).poll_state('')
    });

  //Loads the accordion
  $(function() {
    $( "#repository-accordion" ).accordion({
      heightStyle: "content"
    });
  });
</script>

<hr/>

<%= link_to 'Back',  project_path(@repository.project_id), class: 'btn btn-default' %>
<% if project_owner? @repository.project_id %>
  <%= link_to 'Reprocess', project_repository_process_path(@repository.project_id, @repository.id),  class: 'btn btn-info' %>
  <%= link_to 'Destroy', project_repository_path(@repository.project_id, @repository.id), method: :delete, data: { confirm: 'Are you sure you want to DESTROY this repository?' }, class: 'btn btn-danger' %>
<% end %>

