<div class="page-header">
  <h1><%= @repository.name %></h1>
</div>

<p>
  <strong>Address:</strong>
  <%= @repository.address %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @configuration.name %>
</p>

<hr/>

<h2>Processing information</h2>

<p>
  <strong>State:</strong>
  <%= @processing.state %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @processing.date.strftime("%Y/%m/%d at %Hh%M (%z)") %>
</p>

<% unless @processing.process_times.nil? %>
  <% @processing.process_times.each do |process_time| %>
    <p>
      <strong><%= process_time.state %> time:</strong>
      <%= humanize_eplased_time(process_time.time) %>
    </p>
  <% end %>
<% end %>

<hr/>
<h2>Modules Tree</h2>
<div id="module_tree"></div>
<hr/>

<% if @processing.ready? %>
  <h2>Metric Results</h2>
  <table class="table table-hover">
    <thead>
      <th>Metric</th>
      <th>Value</th>
      <th>Weight</th>
      <th>Threshold</th>
    </thead>

    <tbody>
      <%= render partial: 'metric_result', collection: @root_module_result.metric_results, locals: {module_result: @root_module_result} %>
    </tbody>

  </table>
<% end %>

<hr/>

<div id="container"></div>

<%= link_to 'Back',  project_path(@repository.project_id), class: 'btn btn-default' %>
<% if project_owner? @repository.project_id %>
  <%= link_to 'Destroy', project_repository_path(@repository.project_id, @repository.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    Module.Tree.load("<%= escape_javascript(image_tag 'loader.gif') %> Loading data. Please, wait.", <%= @processing.results_root_id %>);
  });
</script>
