<div class="page-header">
  <h1><%= @repository.name %></h1>
</div>

<p>
  <strong>Description:</strong>
  <%= @repository.description %>
</p>

<p>
  <strong>License:</strong>
  <%= @repository.license %>
</p>

<p>
  <strong>Type:</strong>
  <%= @repository.type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @repository.address %>
</p>

<p>
  <strong>Periodicity:</strong>
  <%= periodicity_option(@repository.process_period) %>
</p>

<p>
  <strong>Configuration:</strong>
  <%= @configuration.name %>
</p>

<p><strong> Retrieve the closest processing information from: </strong></p>

<%= form_tag(project_repository_state_path(@repository.project_id, @repository.id), method: "post", remote: true) do %>
  <p>
    Day: <%= select_tag(:day, options_for_select(day_options), :style => "width:55px; margin-top:5px") %>
    Month: <%= select_tag(:month, options_for_select(month_options), :style => "width:55px; margin-top:5px") %>
    Year: <%= select_tag(:year, options_for_select(year_options), :style => "width:70px; margin-top:5px") %>
    <%= hidden_field_tag(:last_state, "") %>
    <%= submit_tag("Search", class: 'btn btn-info', style: 'margin-bottom:5px', onClick: "Module.Repository.set_loader('#{image_tag 'loader.gif'} Loading data. Please, wait.')") %>
  </p>
<% end %>

<hr/>

<div id="repository-accordion">
  <div id="processing-accordion">
    <h3>Processing information</h3>
    <div id="processing_information"><%= image_tag 'loader.gif' %> Loading data. Please, wait.</div>
  </div>

  <div id="module-accordion">
    <h3>Modules Tree</h3>
    <div id="module_tree"><%= image_tag 'loader.gif' %> Loading data. Please, wait.</div>
  </div>
  
  <div id="metric-accordion">
    <h3>Metric Results</h3>
    <div id="metric_results"><%= image_tag 'loader.gif' %> Loading data. Please, wait.</div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
      (new Module.Repository(<%= @repository.project_id %>, <%= @repository.id %>)).poll_state('')
    });

  //Loads the accordion
  $(function() {
    $( "#repository-accordion > div" ).accordion({
      heightStyle: "content",
      collapsible: true,
    });
    $("#module-accordion").accordion({active: false})
    $("#metric-accordion").accordion({active: false})
  });
</script>

<hr/>

<%= link_to 'Back',  project_path(@repository.project_id), class: 'btn btn-default' %>
<% if project_owner? @repository.project_id %>
  <%= link_to 'Reprocess', project_repository_process_path(@repository.project_id, @repository.id),  class: 'btn btn-info' %>
  <%= link_to 'Destroy', project_repository_path(@repository.project_id, @repository.id), method: :delete, data: { confirm: 'Are you sure you want to DESTROY this repository?' }, class: 'btn btn-danger' %>
<% end %>

