<div class="page-header">
  <h1>Sign Up</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name, class: 'control-label' %><br />
  <%= f.text_field :name, :autofocus => true, class: 'form-control' %></div>

  <div><%= f.label :email, class: 'control-label' %><br />
  <%= f.email_field :email, class: 'form-control' %></div>

  <div><%= f.label :password, class: 'control-label' %><br />
  <%= f.password_field :password, class: 'form-control' %></div>

  <div><%= f.label :password_confirmation, class: 'control-label' %><br />
  <%= f.password_field :password_confirmation, class: 'form-control' %></div>

  <div><%= f.submit "Sign Up", class: 'btn btn-primary' %></div>
<% end %>
