<div class="page-header">
  <h1>Sign Up</h1>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:html => { :class => "form-inline" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row margin-left-none">
    <div class="form-table span9">
      <div class="form-row">
        <div class="field-container">
          <%= f.label :name, class: 'control-label' %><br />
          <%= f.text_field :name, :autofocus => true, class: 'text-field' %>
        </div>
        <div class="help-container">
          <p>
            Your full name!
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="field-container">
          <%= f.label :email, class: 'control-label' %><br />
          <%= f.email_field :email, class: 'text-field' %>
        </div>
        <div class="help-container">
          <p>
            Your email is the form of communication we have with you, so make sure you typed it correctly!
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="field-container">
          <%= f.label :password, class: 'control-label' %><br />
          <%= f.password_field :password, class: 'text-field' %>
        </div>
        <div class="help-container">
          <p>
            Your password must be at least 8 characters. Strong passwords contain characters in upper and lowercase, numbers and symbols.
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="field-container">
          <%= f.label :password_confirmation, class: 'control-label' %><br />
          <%= f.password_field :password_confirmation, class: 'text-field' %>
        </div>
        <div class="help-container">
          <p>
            Confirm your password!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-left-none" style="margin-top: 20px">
    <%= f.submit "Sign Up", class: 'btn btn-primary span2' %> 
  </div>
<% end %>
