<%= render :partial => 'shared/form_errors', :locals => {:object => @reading} %>

<div class="form-group">
  <%= f.label :label, class: 'control-label' %><br>
  <%= f.text_field :label, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :grade, class: 'control-label' %><br>
  <%= f.text_field :grade, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :color, class: 'control-label' %><br>
  <div class="input-append">
    <%= f.text_field :color, :id => "color-form", class: 'form-control' %>
    <input type="button" class="btn btn-info" value="Pick color" id="pickcolor-button"></input>
  </div>
  <script>
    options = {
      trigger_event: "click",
      color: {
        r: 0,
        g: 0,
        b: 0
      },
      onChange: function(colorHSB) {
        $("#color-form").val(colorHSB.toHex());
      }
    }
    new ColorPicker($("#pickcolor-button"), options);
  </script>
</div>

<%= f.submit 'Save', class: 'btn btn-primary' %>
