<li class="nav-header"> <%= t('about_mezuro') %></li>
<li class="list-group-item">
  <small>  <%= t('about_mezuro_body').html_safe %><br></small>
  <small> <%= t('about_mezuro1')%>  <%= link_to t('kalibro_web_service'), 'https://github.com/mezuro/kalibro', target: '_blank' %> and <%= link_to 'Kalibro Processor', 'https://github.com/mezuro/kalibro_processor', target: '_blank' %> <%= t('about_mezuro2') %></small>
</li>
