<li class="nav-header"><%= t('about_mezuro_shared_short_about')%></li>
<li>
  <%= t('about_mezuro_body_shared_short_about').html_safe%>
<li>
<li>
  <small><%= t('about_mezuro1_shared_short_about')%> <%= link_to 'Kalibro Web Service', 'https://github.com/mezuro/kalibro', target: '_blank' %> <%= t('and_shared_short_about')%> <%= link_to 'Kalibro Processor', 'https://github.com/mezuro/kalibro_processor', target: '_blank' %>. <%= t('about_mezuro2_shared_short_about')%></small>

