<li class="nav-header"><%= t('about_mezuro')%></li>
<li>
  <%= t('about_mezuro_body').html_safe%>
<li>
<li>
  <small><%= t('about_mezuro_end_part1')%> <%= link_to 'Kalibro Web Service', 'https://github.com/mezuro/kalibro', target: '_blank' %> <%= t('and')%> <%= link_to 'Kalibro Processor', 'https://github.com/mezuro/kalibro_processor', target: '_blank' %>. <%= t('about_mezuro_end_part2')%></small>
</li>