<% metric_configuration_snapshot = metric_result.metric_configuration_snapshot %>
<% unless metric_configuration_snapshot.range_snapshot.nil? %>
  <% range_snapshot = find_range_snapshot(metric_result) 
     metric_name = metric_configuration_snapshot.metric.name
  %>
  <tr>
    <td><%= link_to metric_name, "#metric_#{module_result.id}", 
              onclick: "new Module.Graphic('container#{metric_result.id}', '#{metric_name}', '#{module_result.id}')",
              id: "metric_#{module_result.id}",
              remote: true %>
    </td>
    <td><%= format_grade(metric_result.value) %></td>
    <td><%= metric_configuration_snapshot.weight %></td>
    <td><span style="color: #<%= range_snapshot.color %>"><%= range_snapshot.label %></span></td>
  </tr>
  <tr id="container<%= metric_result.id %>" style="display: none">
    <td colspan="4">
      <div id="container<%= metric_result.id %>" class="graphic_container"><%= image_tag 'loader.gif' %> Loading data. Please, wait.</div>
    </td>
  </tr>
<% end %>