<p>
  <strong>  <%= t('name') %></strong>
  <%= format_module_name(@root_module_result.module.name) %>
</p>
<p>
  <strong> <%= t('granularity') %></strong>
  <%= @root_module_result.module.granularity %>
</p>
<p>
  <strong> <%= t('grade') %></strong>
  <%= format_grade(@root_module_result.grade) %>
</p>
<% unless @root_module_result.parent_id.nil? %>
  <p id="parent"><i class="icon-arrow-up"></i><%= link_to '../', '#parent', onClick: "Module.Tree.load('#{escape_javascript(image_tag 'loader.gif')} Loading data. Please, wait.', #{@root_module_result.parent_id});" %></p>
<% end %>

<% cache("#{@root_module_result.id}_tree") do %>
  <% children = @root_module_result.children %>
  <% unless children.empty? %>
    <table class="table table-hover">
      <thead>
        <th> <%= t('name') %></th>
        <th>  <%= t('granularity') %></th>
        <th> <%= t('grade') %></th>
      </thead>
      <tbody>
        <%= render partial: 'module_result', collection: children %>
      </tbody>
    </table>
  <% end %>
<% end %>