<div class="hero-unit">
  <p><h1> <%= t('home_index_title') %>  </h1></p>

  <%= t('home_index_body').html_safe %>	

  <p>
    <%= t('home_index_body_feedback') %>	          
    <%= link_to 'feedback', 'https://github.com/mezuro/mezuro/issues', target: '_blank' %>.
  </p>

</div>

<h2> <%= t('home_index_latest_projects') %> </h2>

<ul>
  <% cache do %>
    <% @latest_projects.each do |project| %>
      <li><%= link_to(project.name, project_path(project.id)) %></li>
    <% end %>
  <% end %>
</ul>
