<h1> <%= t('tutorial') %></h1>
<h2> <%= t('analyzing_repository') %></h2>

<hr />

<h3> <%= t('requisites') %></h3>

 <%= t('order_created_project') %>
<ul>
  <li> <%= t('have') %> <%= link_to( t('signed_up'), new_user_registration_path) %> <%= t('to_platform') %></li>
  <li> <%= t('be') %> <%= link_to( t('signed_in'), new_user_session_path) %></li>
  <li> <%= t('repository_which_analyse') %></li>
</ul>

<hr />

<h3> <%= t('steps') %></h3>

<ol>
  <li> <%= t('project_creation') %>
  <ol>
    <li> <%= t('project_upper_menu') %></li>
    <li> <%= t('click_new_project') %> </li>
    <ol>
      <li> <%= t('fill_name_unique') %></li>
      <li>  <%= t('description_required') %> </li>
      <li> <%= t('click_save_project') %></li>
    </ol>
  </ol>
  <li> <%= t('repository_creation') %></li>
  <ol>
    <li> <%= t('project_page_click_new_repository') %></li>
    <li> <%= t('fill_form') %></li>
      <ul>
        <li> <%= t('name_must_unique') %></li>
        <li> <%= t('open_source_licenses') %></li>
        <li> <%= t('repository_source_management') %></li>
        <li>   <%= t('fill_URL_which_can_download') %></li>
        <li> <%= t('analyse_project_periodically') %></li>
        <li> <%= t('configuration_metric_interpretation') %></li>
        <li> <%= t('shoud_repository_page_analysis') %></li>
      </ul>
  </ol>
</ol>

<hr />

<h3> <%= t('repository_details') %></h3>

 <%= t('repository_divided_diferent_sections') %>

<ol>
  <li><b> <%= t('details') %></b></li>
    <ul>
      <li> <%= t('provied_creation_steps') %></li>
      <li> <%= t('visualize_processings_repository') %></li>
    </ul>
  <li><b> <%= t('processing_information') %> </b></li>
    <ul>
      <li> <%= t('time_finish_processing') %> </li>
        <ol>
          <li> <%= t('reserving_folder_repository') %></li>
          <li> <%= t('retrieving_source_code') %></li>
          <li> <%= t('calculationg_metric_repository') %> </li>
          <li> <%= t('results_source_structure') %></li>
          <li> <%= t('calculating_aggregated_parent') %></li>
          <li> <%= t('chosen_configuration_compound_metrics') %></li>
          <li> <%= t('system_interpret_reading_groups') %></li>
        </ol>
    </ul>
  <li><b> <%= t('modules_tree') %></b></li>
    <ul>
      <li> <%= t('tree_structure') %>
      <li>  <%= t('information_granulary_module') %>
        <ul>
          <li> <%= t('method') %> </li>
          <li> <%= t('class') %></li>
          <li> <%= t('package') %> </li>
          <li> <%= t('software') %></li>
        </ul>
      <li> <%= t('given_module_weights') %>
    </ul>
  <li><b> <%= t('metric_results') %></b></li>
    <ul>
      <li> <%= t('metric_current_selected_tree') %>
</li>
      <li> <%= t('historic_chart_metric') %></li>
    </ul>
</ol>
