<h1> <%= t('tutorial') %></h1>
<h2> <%= t('setting_new_configuration') %></h2>

<hr />

<h3><%= t('requisites') %></h3>

 <%= t('order_create_configuration') %>
<ul>
  <li> <%= t('have') %> <%= link_to( t('signed_up'), new_user_registration_path) %>  <%= t('to_platform') %> </li>
  <li> <%= t('be') %><%= link_to( t('signed_in'), new_user_session_path) %></li>
  <li> <%= t('already_reading_group') %></li>
</ul>

<hr />

<h3> <%= t('instroduction') %></h3>

 <%= t('repository_mezuro_configurations') %> <%= link_to t('repository_creation'), tutorials_path('analyzing') %> <%= t('briefly_components_configuration') %>
<h4> <%= t('configuration_components') %></h4>
<ul>
  <li><b> <%= t('configuration') %></b> <%= t('remaining_components_association') %></li>
  <li><b> <%= t('metrics') %></b> <%= t('processing_interpret_results') %></li>
    <ul>
      <li> <%= t('metric_final_grade') %></li>
      <li> <%= t('according_field_specifies') %></li>
      <li> <%= t('reading_group_specifies_interpretations') %></li>
    </ul>
  <li><b> <%= t('reading_group') %></b>  <%= t('container_readings') %></li>
    <ul>
      <li> <%= t('interpretation_value_providing') %></li>
    </ul>
  <li><b> <%= t('range') %></b> <%= t('associates_number_intervals') %></li>
</ul>

<hr />

<h3> <%= t('steps') %></h3>

<ol>
  <li> <%= t('configuration_creation') %></li>
  <ol>
    <li> <%= t('click_configuration') %></li>
    <li> <%= t('click_new_configuration') %></li>
    <ol>
      <li> <%= t('fill_name_unique') %></li>
      <li> <%= t('description_required') %></li>
      <li> <%= t('click_save_configuration_page') %></li>
    </ol>
  </ol>
  <li> <%= t('metric_addition') %></li>
  <ol>
    <li> <%= t('configuration_page') %></li>
    <li>  <%= t('click_add_metric') %></li>
    <li> <%= t('collector_options') %></li>
    <ol>
      <li> <%= t('fill_with_calculate') %></li>
      <li> <%= t('select_aggregation_form') %></li>
      <li> <%= t('select_reading_group') %></li>
      <li> <%= t('click_save_configuration_metric') %></li>
    </ol>
  </ol>
  <li> <%= t('ranges_creation') %></li>
  <ol>
    <li> <%= t('configuration_page') %></li>
    <li> <%= t('click_show_metric_crate') %></li>
    <li> <%= t('click_add_range') %></li>
    <ol>
      <li> <%= t('fill_beginning_end_values_interval') %>
</li>
      <li> <%= t('fill_comments_displayed') %>
</li>
      <li> <%= t('select_reading_range') %></li>
      <li> <%= t('click_save_metric_range') %></li>
    </ol>
  </ol>
</ol>

<hr />
