<h1> <%= t('keywords') %></h1>

<hr />


<div class="keywords-explanations">
  <div>
    <h3 id="granularity"> <%= t('granularity') %></h3>

    <p> <%= t('mezuro_levels_granularity') %></p>
    <ul>
      <li> <%= t('method2') %></li>
      <li> <%= t('class2') %></li>
      <li> <%= t('packege2') %></li>
      <li> <%= t('software2') %></li>
    </ul>
  </div>

  <div>
    <h3 id="module"> <%= t('module') %></h3>

    <p> <%= t('generated_module') %> <i> <%= t('granularity') %></i></p>
  </div>

  <div>
    <h3 id="range"> <%= t('range') %></h3>

    <p> <%= t('numerical_intervals') %> <i> <%= t('metric') %></i> <%= t('ranges_combined_interpretations') %> <i> <%= t('metric_results') %></i>.</p>
  </div>

  <div>
    <h3 id="reading">  <%= t('reading') %></h3>

    <p> <%= t('interpretation_given') %><i> <%= t('metric_result') %></i>  <%= t('readings_combined') %> <i><%= t('metric_results') %></i>.</p>
  </div>

  <div>
    <h3 id="reading-group"><%= t('reading_group') %></h3>

    <p><%= t('set_of') %> <i><%= t('readings') %></i> <%= t('sense_grouped') %></p>
  </div>
  <div>
    <h3 id="configuration"><%= t('configuration') %></h3>

    <p><%= t('set_of') %> <i><%= t('metrics') %></i>.</p>
  </div>
  <div>
    <h3 id="metric_result"><%= t('metric_result2') %></h3>

    <p><%= t('collector_compond_metric') %></p>
  </div>

  <div>
    <h3 id="metric"><%= t('metric') %></h3>
    <p><%= t('sofware_metric_quantitative') %> <i><%= t('module') %></i><%= t('more_details') %>
    <%= link_to 'Carlos Morais dissertation', 'http://www.teses.usp.br/teses/disponiveis/45/45134/tde-25092013-142158/publico/dissertacao.pdf' %>.</p>
  </div>
</div>
