<%= form_for(@project, :html => { role: 'form' }) do |f| %>
<%= render :partial => 'shared/form_errors', :locals => {:object => @project} %>

<div class="row margin-left-none">
  <div class="form-table span9">
    <div class="form-row">
      <div class="field-container">
        <%= f.label :name, class: 'control-label' %><br>
        <%= f.text_field :name, class: 'text-field ' %>
      </div>
      <div class="help-container">
        <p>
          Your project name!
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :description, class: 'control-label' %><br>
        <%= f.text_area :description, class: 'text-area' %>
      </div>
      <div class="help-container">
        <p>
          Tell us what your project will contain!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row margin-left-none" style="margin-top: 20px">
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
</div>
<% end %>
