<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<hr />

<h2>Repositories</h2>

<% if project_owner? @project.id %><%= link_to 'New Repository', new_project_repository_path(@project,), class: 'btn btn-primary' %><% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Address</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @project_repositories.size == 0 %>
      <tr> 
        <% col_number = project_owner?(@project.id) ? 4 : 3 %>
        <td colspan="<%= col_number %>">There are no repositories yet!</td>
      </tr>
    <% end %> 
    <% @project_repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.type %></td>
        <td><%= repository.address %></td>
        <td>
          <% if project_owner? @project.id %>
            <%= link_to 'Edit', edit_project_repository_path(@project, repository.id), class: 'btn btn-info' %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', project_repository_path(@project, repository.id), class: 'btn btn-info' %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<p>
  <% if project_owner? @project.id %>
    <%= link_to 'Destroy project', project_path(@project.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</p>
