<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<h2>Repositories</h2>

<% if project_owner? @project.id %><%= link_to 'New Repository', new_project_repository_path(@project,), class: 'btn btn-primary' %><% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Address</th>
      <th colspan="2">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @project_repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.type %></td>
        <td><%= repository.address %></td>
        <td>
          <% if project_owner? @project.id %>
            <%= link_to 'Edit', edit_project_repository_path(@project, repository.id) %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', project_repository_path(@project, repository.id), class: 'btn btn-info' %></td>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <% if project_owner? @project.id %>
    <%= link_to 'Destroy', project_path(@project.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</p>
