<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<h2>Repositories</h2>

<%= link_to 'New Repository', new_project_repository_path(@project)%>

<table border="1" width="30%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Address</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @project_repositories.each do |repository| %>
      <tr>
        <td align="center"><%= repository.name %></td>
        <td align="center"><%= repository.type %></td>
        <td align="center"><%= repository.address %></td>
        <td align="center">
          <%= link_to 'Edit', edit_project_repository_path(@project, repository.id) %>
          <%= link_to 'Destroy', project_repository_path(@project, repository.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <% if project_owner? @project.id %>
    <%= link_to 'Destroy', project_path(@project.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</p>
