
<div class="page-header">
  <div class="row">
    <div class="col-md-2">
      <% if @project_image && !@project_image.image_url.empty? %>
        <%= image_tag "#{@project_image.image_url}", size:"64x64" %>
      <% else %>
        <center><i class="fa fa-file-image-o fa-5x"></i></center><br />
        No image available
      <% end %>
    </div>
    <div class="col-md-10">
      <h1><%= @project.name %></h1>
    </div>
  </div>
</div>

<p>
  <strong>  <%= t('description') %></strong>
  <%= @project.description %>
</p>

<hr />

<h2> <%= t('repositories') %></h2>

<% if project_owner? @project.id %><%= link_to t('new_repository'), new_project_repository_path(@project,), class: 'btn btn-primary' %><% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th> <%= t('name') %> </th>
      <th> <%= t('type') %> </th>
      <th> <%= t('address') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% if @project_repositories.size == 0 %>
      <tr>
        <% col_number = project_owner?(@project.id) ? 4 : 3 %>
        <td colspan="<%= col_number %>">There are no Repositories yet!</td>
      </tr>
    <% end %>
    <% @project_repositories.each do |repository| %>
      <tr>
        <td><%= repository.name %></td>
        <td><%= repository.type %></td>
        <td><%= repository.address %></td>
        <td>
          <% if project_owner? @project.id %>
            <%= link_to t('edit'), edit_project_repository_path(@project, repository.id), class: 'btn btn-info' %>
          <% end %>
        </td>
        <td>
          <%= link_to t('show'), project_repository_path(@project, repository.id), class: 'btn btn-info' %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<p>
  <% if project_owner? @project.id %>
    <%= link_to  t('destroy_projects'), project_path(@project.id), method: :delete, data: { confirm:  t('want_destroy_project') }, class: 'btn btn-danger' %>
  <% end %>
</p>
