<div class="page-header">
  <h1><%= @reading_group.name %></h1>
</div>

<p>
  <strong>Description:</strong>
  <%= @reading_group.description %>
</p>

<hr />

<h2>Readings</h2>

<% if reading_groups_owner? @reading_group.id %><%= link_to 'New Reading', new_reading_group_reading_path(@reading_group,), class: 'btn btn-primary' %><% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Grade</th>
      <th>Color</th>
    </tr>
  </thead>

  <tbody>
    <% if @reading_group_readings.size == 0 %>
      <tr> 
        <% col_number = reading_groups_owner?(@reading_group.id) ? 5 : 3 %>
        <td colspan="<%= col_number %>">There are no readings yet!</td>
      </tr>
    <% end %> 
    <% @reading_group_readings.each do |reading| %>
      <tr>
        <td><%= reading.label %></td>
        <td><%= reading.grade %></td>
        <td style="background-color: #<%= reading.color %>; width: 20%;">&nbsp;</td>
        <% if reading_groups_owner? @reading_group.id %>
          <td>
            <%= link_to 'Edit', edit_reading_group_reading_path(@reading_group.id, reading.id), class: 'btn btn-info' %>
          </td>
          <td>
            <%= link_to 'Destroy', reading_group_reading_path(@reading_group.id, reading.id), method: :delete, data: { confirm: 'Are you sure that you want to destroy this reading?' }, class: 'btn btn-danger' %>
          </td>
          </td>
       <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />

<p>
  <% if reading_groups_owner? @reading_group.id %>
    <%= link_to 'Destroy reading group', reading_group_path(@reading_group.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>
</p>
