<tr>
  <td>
    <div>
      <a class="popover_element" rel="popover" data-placement="left" data-original-title="Comments" data-content="<%= mezuro_range.comments %>"><%= image_tag "magnifying_glass.png" %></a>
      <span style="color: #<%= mezuro_range.color %>"><%= mezuro_range.label %></span>
    </div>
  </td>
  <td><%= mezuro_range.beginning %></td>
  <td><%= mezuro_range.end %></td>
  <td> 
    <% if mezuro_configuration_owner? @metric_configuration.configuration_id %>
      <%= link_to 'Edit', edit_mezuro_configuration_metric_configuration_mezuro_range_path(
                  @metric_configuration.configuration_id, @metric_configuration.id, mezuro_range.id), class: 'btn btn-info' %>
      <%= link_to 'Destroy', mezuro_configuration_metric_configuration_mezuro_range_path(@metric_configuration.configuration_id,
      @metric_configuration.id, mezuro_range.id), method: :delete, data: { confirm: 'Are you sure that you want to destroy this range?' }, 
      class: 'btn btn-danger' %>
    <% end %>
  </td>
</tr>
