<div class="page-header">
  <h1>Choose a metric from a base tool:</h1>
</div>

<%= form_tag mezuro_configuration_new_metric_configuration_path(@mezuro_configuration_id) do %>
  <%= hidden_field_tag(:base_tool_name,) %>
  <%= hidden_field_tag(:metric_name) %>
<% end %>

<div id="base-tool-accordion">
 <% @base_tools.each do |base_tool| %>
      <h3><%= base_tool.name %></h3>
      <div>
        <% base_tool.supported_metrics.each do |metric| %>
          <%= link_to metric.name, '#', onclick: "BaseTool.choose_metric(\"#{metric.name}\", \"#{base_tool.name}\");", remote: true %><br>
        <% end %>
      </div>
  <% end %>
</div><br />

<%= link_to 'Back', mezuro_configuration_path(@mezuro_configuration_id), class: 'btn btn-default' %>
<%= link_to 'Compound Metric', new_mezuro_configuration_compound_metric_configuration_path(@mezuro_configuration_id), class: 'btn btn-info', id: "link_to_compound" %>


<script type="text/javascript">
  //Loads the accordion
  $(function() {
    $( "#base-tool-accordion" ).accordion({
      heightStyle: "content",
      collapsible: true,
    });
  });

  <% if @exist_metric.nil? %>
    $("#link_to_compound").css("display", "none");
  <% end %>
</script>
