<div class="page-header">
  <h1> <%= t('choose_metric_configurations_choose_metric') %> </h1>
</div>

<%= form_tag mezuro_configuration_new_metric_configuration_path(@mezuro_configuration_id) do %>
  <%= hidden_field_tag(:metric_collector_name,) %>
  <%= hidden_field_tag(:metric_name) %>
<% end %>

<div id="base-tool-accordion">
 <% @metric_collectors.each do |metric_collector| %>
      <h3 class="jquery-ui-accordion"><%= metric_collector.name %></h3>
      <div>
        <% metric_collector.supported_metrics.each do |code, metric| %>
          <%= link_to metric.name, '#', onclick: "MetricCollector.choose_metric(\"#{metric.name}\", \"#{metric_collector.name}\");", remote: true %><br>
        <% end %>
      </div>
  <% end %>
</div><br />

<span  data-toggle="tooltip" data-placement="left" title="Return to metrics configurations list">
  <%= link_to  t('back'), mezuro_configuration_path(@mezuro_configuration_id), class: 'btn btn-default' %>
  <%= link_to t('compound_metric'), new_mezuro_configuration_compound_metric_configuration_path(@mezuro_configuration_id), class: 'btn btn-info', id: "link_to_compound" %>
</span>

<script type="text/javascript">
  //Loads the accordion
  $(function() {
    $( "#base-tool-accordion" ).accordion({
      heightStyle: "content",
      collapsible: true,
    });
  });

  <% if MetricConfiguration.metric_configurations_of(@mezuro_configuration_id).blank? %>
    $("#link_to_compound").css("display", "none");
  <% end %>
</script>
