<div class="page-header">
  <h1><%= t('choose_metric') %></h1>
</div>

<%= form_tag kalibro_configuration_new_metric_configuration_path(@kalibro_configuration.id) do %>
  <%= hidden_field_tag(:metric_collector_name,) %>
  <%= hidden_field_tag(:metric_code) %>
<% end %>

<div id="base-tool-accordion">
 <% @metric_collectors_names.each do |metric_collector_name| %>
      <h3 class="jquery-ui-accordion"><%= metric_collector_name %></h3>
      <div>
        <% supported_metrics_of(metric_collector_name).each do |code, metric| %>
          <%= link_to metric.name, "#",
            onclick: "MetricCollector.choose_metric(\"#{code}\", \"#{metric_collector_name}\", \"#{choose_metric_path(metric, @kalibro_configuration.id)}\");",
              remote: true %><br>
        <% end %>
      </div>
  <% end %>
</div><br />

<%= link_to t('back'), kalibro_configuration_path(@kalibro_configuration.id), class: 'btn btn-default' %>
<%= link_to t('compound_metric'), new_kalibro_configuration_compound_metric_configuration_path(@kalibro_configuration.id), class: 'btn btn-info', id: "link_to_compound" %>


<script type="text/javascript">
  //Loads the accordion
  $(function() {
    $( "#base-tool-accordion" ).accordion({
      heightStyle: "content",
      active: false,
      collapsible: true
    });
  });

  <% if @kalibro_configuration.metric_configurations.blank? %>
    $("#link_to_compound").css("display", "none");
  <% end %>
</script>
