<div class="page-header">
  <h1>New Metric Configuration</h1>
</div>

<p>
  <b>Base Tool:</b> <%= @metric_configuration.base_tool_name %>
</p>
<p>
  <b>Metric Name:</b> <%= @metric_configuration.metric.name %>
</p>
<p>
  <b>Metric Description:</b> <%= @metric_configuration.metric.description.nil? ? "No description available." : @metric_configuration.metric.description %>
</p>
<p>
  <b>Language:</b> <%= @metric_configuration.metric.languages.to_s %>
</p>

<p>
  <b>Scope:</b> <%= @metric_configuration.metric.scope %>
</p>

<br>

<%= form_for(@metric_configuration, :url => mezuro_configuration_metric_configurations_path(@metric_configuration.configuration_id)) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <div class="row margin-left-none" style="margin-top: 20px">
  	<%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to 'Back',  mezuro_configuration_choose_metric_path(@metric_configuration.configuration_id), class: 'btn btn-default' %>
	</div>

<% end %>
