<div class="page-header">
  <h1><%=@metric_configuration.metric.name %></h1>
</div>

<p>
  <strong>Base Tool Name:</strong>
  <%= @metric_configuration.base_tool_name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @metric_configuration.code %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @metric_configuration.weight %>
</p>

<p>
  <strong>Language:</strong>
  <%= @metric_configuration.metric.language %>
</p>

<p>
  <strong>Scope:</strong>
  <%= @metric_configuration.metric.scope %>
</p>

<p>
  <strong>Aggregation Form:</strong>
  <%= @metric_configuration.aggregation_form %>
</p>

<p>
  <strong>Reading Group Name:</strong>
  <%= @reading_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <% if @metric_configuration.metric.description.nil? %>
    <%= "There is no description available." %>
  <% else %>
    <%= @metric_configuration.metric.description %> 
  <% end %>

</p>
<hr>

<h2> Ranges </h2>
<% if mezuro_configuration_owner? @metric_configuration.configuration_id %>
  <%= link_to 'Add Range', mezuro_configuration_metric_configuration_new_mezuro_range_path(@metric_configuration.configuration_id, 
      @metric_configuration.id), class: 'btn btn-info' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Beginning</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <% if @mezuro_ranges.empty? %>
      <%= render partial: 'no_ranges' %>
    <% else %>
      <%= render partial: 'ranges', collection: @mezuro_ranges, as: :mezuro_range %>
    <% end %>
  </tbody>
</table>

<p>
 <%= link_to 'Back', mezuro_configuration_path(@metric_configuration.configuration_id), class: 'btn btn-default' %>
<% if mezuro_configuration_owner? @metric_configuration.configuration_id %>
      <%= link_to 'Destroy Metric Configuration', mezuro_configuration_metric_configuration_path(@metric_configuration.configuration_id,
      @metric_configuration.id), method: :delete, data: { confirm: 'Are you sure that you want to destroy this metric configuration?' }, 
      class: 'btn btn-danger' %>
 <% end %>
</p>


<%= javascript_include_tag "popover.js" %>
