<p> <%= t('hello') %> <%= @resource.email %>!</p>

<p>  <%= t('account_locked') %></p>

<p>  <%= t('link_unlock_account') %> </p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @token) %></p>
