  <%= render :partial => 'shared/form_errors', :locals => {:object => @mezuro_range} %>
  
<div class="row margin-left-none">
  <div class="form-table span9">

    <div class="form-row">
      <div class="field-container">
        <%= f.label :beginning, class: 'control-label' %>
        <%= f.text_field :beginning, class: 'text-field' %>
      </div>
      <div class="help-container">
        <p>
          Initial value where your range begins.
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :end, class: 'control-label' %>
        <%= f.text_field :end, class: 'text-field' %>
      </div>
      <div class="help-container">
        <p>
          Final value where your range ends.
        </p>
      </div>
    </div>

    <div class="form-row">
      <div class="field-container">
        <%= f.label :comments, class: 'control-label' %>
        <%= f.text_area :comments, class: 'text-area' %>
      </div>
      <div class="help-container">
        <p>
          A short description about your range.
        </p>
      </div>
    </div>

    <div class="form-row"> 
      <% if @readings.size == 0 %>
        <%= render partial: 'no_readings' %>
      <% else %>
          <div class="field-container">
            <%= f.label :reading_id, 'Reading', class: 'control-label' %>
            <%= f.select( :reading_id, readings_options(@readings), {class: 'form-control'} ) %>
          </div>
          <div class="help-container">
            <p>
              The reading that is associated with this range.
            </p>
          </div>
      <% end %>
    </div>

  </div>
</div>

<div class="row margin-left-none" style="margin-top: 20px">
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <%= link_to 'Back', mezuro_configuration_metric_configuration_path(@mezuro_configuration_id, @metric_configuration_id), class: 'btn btn-default' %>
</div>
