  <%= render :partial => 'shared/form_errors', :locals => {:object => @mezuro_range} %>

  <div class="row margin-left-none">
    <div class="form-table col-md-9">

      <div class="form-row">
        <% if @readings.size == 0 %>
        <%= render partial: 'no_readings' %>
        <% else %>
        <div class="field-container">
          <%= f.label :reading_id, 'Reading', class: 'control-label' %>
          <%= f.select( :reading_id, readings_options(@readings), {class: 'form-control'} ) %>
        </div>
        <div class="help-container">
          <p>
           <%= t('the') %><%= link_to t('reading'), tutorials_path(t('keywords'), anchor: t('reading'))%> associated with this <%= link_to  t('range'), tutorials_path('keywords', anchor: t('range'))%>.
          </p>
        </div>
        <% end %>
      </div>

      <div class="form-row">
        <div class="field-container" >
           <%= f.label :beginning, class: 'control-label' %>
           <div class="input-group">
              <%= f.text_field :beginning, :required => true, class: 'diminished-text-field form-control' %>
              <span class="input-group-btn">
                <%= link_to '-&#8734'.html_safe, 'javascript:void(0)', :onClick => "jQuery( '#mezuro_range_beginning' ).val('-INF');", class: 'btn btn-default' %>
              </span>
          </div>
        </div>

        <div class="help-container">
          <p>
             <%= t('range_lower_limit') %>
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="field-container">
          <%= f.label :end, class: 'control-label' %>
          <div class="input-group">
            <%= f.text_field :end, :required => true, class: 'diminished-text-field form-control' %>
             <span class="input-group-btn">
                <%= link_to '&#8734'.html_safe, 'javascript:void(0)', :onClick => "jQuery( '#mezuro_range_end' ).val('INF');", class: 'btn btn-default align-button' %>
              </span>
          </div>
        </div>
        <div class="help-container">
          <p>
           <%= t('range_upper_limit') %>
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="field-container">
          <%= f.label :comments, class: 'control-label' %>
          <%= f.text_area :comments, class: 'text-area form-control' %>
        </div>
        <div class="help-container">
          <p>
             <%= t('explanation_chose_interval') %> <%= link_to t('metric'), tutorials_path( t('keywords'), anchor: t('metric'))%>.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row margin-left-none" style="margin-top: 20px">
    <%= f.submit t('save'), class: 'btn btn-primary' %>
    <%= link_to t('back'), mezuro_configuration_metric_configuration_path(@mezuro_configuration_id, @metric_configuration_id), class: 'btn btn-default' %>
  </div>
