<!DOCTYPE html>
<html lang="en">
  <%= render 'head' %>

  <body>
    <%= render 'navbar' %>
    <%= render_if_exists 'before_content' %>
    <%= render 'content' %>
    <%= render_if_exists 'after_content' %>

    <footer>
      <div class="footer-left">&copy; <%= link_to(t('mezuro_team'), '/humans.txt') %> 2013-2015</div>
      <div class="footer-right"><%= link_to(image_tag('agplv3-88x31.png'), 'http://www.gnu.org/licenses/agpl-3.0-standalone.html') %> <%= link_to image_tag('fork-me.png'), 'https://github.com/mezuro/prezento' %> <%= image_tag 'usp-cloud-nuvem-logo.png' %> <%= link_to image_tag('banner-ccsl.png', height: '40', width: '190'), 'http://ccsl.ime.usp.br/' %></div>
    </footer>
  </body>
</html>
