<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--> 
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]--> 
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]--> 
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--> 
  <head> 
    <meta charset="utf-8" /> 
    <%= csrf_meta_tags %> 
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Portal Empresa</title>

    <link type="text/plain" rel="author" href="humans.txt" /> 
    <%= stylesheet_link_tag "application", :media => "all" %> 
    <%= javascript_include_tag :modernizr %> 
  </head> 

  <body>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 

    <%= yield %>

    <%= javascript_include_tag "application" %> 
  </body>
</html>
